<div class="content">
    <h4>Welcome to my app</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi aliquet, dui et
        tincidunt viverra, enim ipsum dignissim massa,
        a dapibus neque massa eu arcu. Proin vitae
        est molestie dui feugiat dictum non suscipit
        odio. Cras et eros eros. Praesent lorem ligula,
        mollis non nunc eu, cursus porttitor tellus.
        Aliquam erat volutpat. Morbi finibus, orci ut
        mattis ultricies, sem erat facilisis felis,
        in placerat felis elit a libero. Integer
        facilisis sem dignissim tempor semper.
        Suspendisse pretium luctus urna, vitae
        placerat quam aliquet euismod. Donec risus
        enim, dignissim eget ante sit amet, pretium
        ullamcorper sem. Praesent a vestibulum eros.
        Maecenas vulputate felis semper purus sodales,
        eget pharetra leo efficitur.
    </p>

    <br>

    <mat-divider></mat-divider>

    <br>
    
    <h4>This is not a only common app...</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi aliquet, dui et
        tincidunt viverra, enim ipsum dignissim massa,
        a dapibus neque massa eu arcu. Proin vitae
        est molestie dui feugiat dictum non suscipit
        odio. Cras et eros eros. Praesent lorem ligula,
        mollis non nunc eu, cursus porttitor tellus.
        Aliquam erat volutpat. Morbi finibus, orci ut
        mattis ultricies, sem erat facilisis felis,
        in placerat felis elit a libero. Integer
        facilisis sem dignissim tempor semper.
        Suspendisse pretium luctus urna, vitae
        placerat quam aliquet euismod. Donec risus
        enim, dignissim eget ante sit amet, pretium
        ullamcorper sem. Praesent a vestibulum eros.
        Maecenas vulputate felis semper purus sodales,
        eget pharetra leo efficitur.
    </p>

    <br>

    <mat-divider></mat-divider>

    <br>

    <h4>Stay a while and see what this app can do</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Morbi aliquet, dui et
        tincidunt viverra, enim ipsum dignissim massa,
        a dapibus neque massa eu arcu. Proin vitae
        est molestie dui feugiat dictum non suscipit
        odio. Cras et eros eros. Praesent lorem ligula,
        mollis non nunc eu, cursus porttitor tellus.
        Aliquam erat volutpat. Morbi finibus, orci ut
        mattis ultricies, sem erat facilisis felis,
        in placerat felis elit a libero. Integer
        facilisis sem dignissim tempor semper.
        Suspendisse pretium luctus urna, vitae
        placerat quam aliquet euismod. Donec risus
        enim, dignissim eget ante sit amet, pretium
        ullamcorper sem. Praesent a vestibulum eros.
        Maecenas vulputate felis semper purus sodales,
        eget pharetra leo efficitur.
    </p>
</div>