<table id="content-table">
    <thead>
        <tr>
            <th>ID</th> <th>Name</th> <th>Address</th> <th>gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.address }}</td>
            <td>{{ person.gender }}</td>
        </tr>
    </tbody>
</table>

<button mat-button>Click here</button>

<hr>

<h2>Sorting things</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, ex a iaculis laoreet, dolor nunc efficitur
    lorem, id semper magna erat sit amet urna. Ut id fringilla sapien. Pellentesque mollis elit vitae risus tincidunt
    vehicula. Mauris molestie eros lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Fusce sollicitudin malesuada mollis. In placerat efficitur leo a dictum. Aliquam eu tortor at nisl
    sollicitudin eleifend. Curabitur at faucibus nisl, in tincidunt orci. Aliquam erat volutpat. Morbi pharetra fringilla
    sapien nec vestibulum. Integer posuere porttitor sem, et sodales lorem eleifend id. Suspendisse blandit leo mi, sed
    suscipit nisl condimentum non. Donec a ante nec libero aliquet lacinia in ac dui. Nunc accumsan arcu bibendum, rhoncus
    augue ut, faucibus mi.
</p>

<hr>

<h2>outra coisa</h2>

