<h3>Tabela do Angular Material</h3>

<p>
    Aqui eu vou tentar usar a tabela do angular material para ver
    como fica e ver se eu consigo aprender a usar ela.
</p>

<table mat-table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>

<hr>

<h3>Usando outras coisas do Angular Material</h3>

Usando cards nessa parte.

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Cobrador de Impostos</mat-card-title>
        <mat-card-subtitle>Humano/Maquina</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut blandit tellus, nec dictum nisl. Praesent porta
        sodales quam at fringilla. Duis quis nisl ac augue finibus pulvinar. Donec eu leo et augue tincidunt feugiat. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse vehicula nibh nec turpis
        eleifend, eget dapibus nibh pharetra. Proin vel elit quis augue posuere placerat non dapibus metus. Nulla ultricies
        ligula in dui consequat, id pretium leo vulputate. Suspendisse potenti. Aliquam consequat, mi a laoreet malesuada, nisl
        turpis vehicula erat, id vestibulum libero lorem ac urna.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>